<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.codemilltech.BestSongs">
    <uses-sdk android:minSdkVersion="21" />
    <application android:label="BestSongs">
        <activity android:name="microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msal07c72f3b-6b04-4688-8e37-c870a5b4b959" android:host="auth" />
            </intent-filter>
        </activity>
    </application>
</manifest>